// app global css in SCSS form
@font-face {
  font-family: 'monlam-chouk';
  src: url('src/assets/fonts/Monlam Uni Chouk.ttf') format('truetype');
}
@font-face {
  font-family: 'monlam-choukmatik';
  src: url('src/assets/fonts/Monlam Uni ChoukMatik.ttf') format('truetype');
}

div.q-toolbar {
  color: black;
}

div.q-page-container {
   background-color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: Himalaya;
  src: local('Himalaya'), url(@/css/fonts/Himalaya.ttf) format('truetype');
}
